body {
  width: 100%;
  height: 100vh;
  background-color: #262728!important;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /*flex-direction: column;*/
}

.pointer {
  margin-left: -1px;
  width: 13px;
  height: 13px;
  background: #506f43;
  z-index: 9999;
  border-radius: 50%;
  margin-top: -5px;
  cursor: pointer;
}


.pointer-focused {
  width: 23px;
  height: 23px;
  background: #506f4369;
  z-index: 9999;
  border-radius: 50%;
  margin-top: -10px;
  margin-left: -18px;
}

.btn-controls {
  /*display: flex;
  justify-content: center;
  align-items: center;*/
  text-align: center;
}

i {
  /*color: #607d8b;*/
}

nav.fixed-bottom {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  padding-top: 0;
  margin-left: -15px;
  margin-right: -17px;
  height: 55px;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul > li {
  margin-left: 5px;
  margin-right: 5px;
  font-family: 'Ubuntu', sans-serif;
}

.btn-controls a {
  margin: 10px;
  cursor: pointer;
}

.audio-timer a {
  margin-top: 8px;
}

.progress-rocka3 {
  height: 5px;
  overflow: initial;
  width: 98%;
  background-color: #e9ecef2e
}

.progress-music {
  background-color: #506f43!important;
}

#navbarCollapse {
  margin-top: 10px;
}

.volume-rocka3 {
  height: 3px;
  width: 100px;
  background-color: #e9ecef2e;
  overflow: inherit;
  cursor: pointer;
}

.volume-music {
  width: 80%;
  background-color: #506f43!important;
}


