// Colors
$white: #fff;
$black: #000;
$grey: #eee;
$lightBlue: #03a9f4;
$orange: #ff9800;
$amber: #ffc107;
$green: #4caf50;
$teal: #009688;
$cyan: #00bcd4;
$indigo: #3f51b5;
$deepPurple: #673ab7;
$pink: #e91e63;
$red: #f44336;
$yellow: #ffeb3b;
$lime: #cddc39;
$brown: #795548;

// Body
$body_bg_color: #fafafa;
$link_color: $lightBlue;

/* ----------------------------------------------------------------------
  Material Design Range Slider - by Ravikumar Chauhan
------------------------------------------------------------------------- */
.rkmd-slider {
  display: block;
  position: relative;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;

  input[type="range"] {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;

    & + .slider {
      display: block;
      position: relative;
      width: 100%;
      height: 3px;
      background-color: #5c5c5c;

      .slider-fill {
        display: block;
        position: absolute;
        width: 0%;
        height: 100%;
        user-select: none;
        z-index: 1;
      }

      .slider-handle {
        cursor: pointer;
        position: absolute;
        top: -6px;
        left: 0%;
        width: 15px;
        height: 15px;
        margin-left: 0;
        border-radius: 50%;
        transition: all .2s ease;
        user-select: none;
        z-index: 2;
      }
    }

    &:disabled + .slider {
      background-color: #b0b0b0 !important;

      .slider-fill,
      .slider-handle {
        cursor: default !important;
        background-color: #b0b0b0 !important;

        .slider-label { display: none; background-color: #b0b0b0 !important; }

        &.is-active {
          top: -6px;
          width: 15px;
          height: 15px;
          margin-left: -8px;

          .slider-label {
            display: none;
            border-radius: 50%;
            transform: none;
          }
        }
      }

      .slider-handle:active {
        box-shadow: none !important;
        transform: scale(1) !important;
      }
    }
  }

  &.slider-light {
    input[type="range"] {

      & + .slider { background-color: #5c5c5c; }

      &:disabled + .slider {
        background-color: #5c5c5c !important;

        .slider-fill,
        .slider-handle { background-color: #5c5c5c !important; }

      }
    }
  }
}

/* ----------------------------------------------------------------------
  Continuous Range Slider - by Ravikumar Chauhan
------------------------------------------------------------------------- */
.rkmd-slider {
  &.slider-continuous {
    &.slider-scale {
      .slider-handle:active { transform: scale(1.4); }
    }

    &.slider-shadow {
      &.slider-lightBlue {
        .slider-handle { box-shadow: 0 0 0 6px rgba($lightBlue,.26); }
      }

      &.slider-teal {
        .slider-handle { box-shadow: 0 0 0 6px rgba($teal,.26); }
      }

      &.slider-orange {
        .slider-handle { box-shadow: 0 0 0 6px rgba($orange,.26); }
      }

      &.slider-amber {
        .slider-handle { box-shadow: 0 0 0 6px rgba($amber,.26); }
      }

      &.slider-green {
        .slider-handle { box-shadow: 0 0 0 6px rgba($green,.26); }
      }

      &.slider-cyan {
        .slider-handle { box-shadow: 0 0 0 6px rgba($cyan,.26); }
      }

      &.slider-indigo {
        .slider-handle { box-shadow: 0 0 0 6px rgba($indigo,.26); }
      }

      &.slider-deepPurple {
        .slider-handle { box-shadow: 0 0 0 6px rgba($deepPurple,.26); }
      }

      &.slider-pink {
        .slider-handle { box-shadow: 0 0 0 6px rgba($pink,.26); }
      }

      &.slider-red {
        .slider-handle { box-shadow: 0 0 0 6px rgba($red,.26); }
      }

      &.slider-yellow {
        .slider-handle { box-shadow: 0 0 0 6px rgba($yellow,.26); }
      }

      &.slider-lime {
        .slider-handle:active { box-shadow: 0 0 0 6px rgba($lime,.26); }
      }

      &.slider-brown {
        .slider-handle:active { box-shadow: 0 0 0 6px rgba($brown,.26); }
      }

    }
  }
}

/* ----------------------------------------------------------------------
  Discrete Range Slider - by Ravikumar Chauhan
------------------------------------------------------------------------- */
.rkmd-slider {
  &.slider-discrete {
    .slider {
      .slider-handle {
        position: relative;
        z-index: 1;

        .slider-label {
          position: absolute;
          top: -17.5px;
          left: -2px;
          width: 30px;
          height: 30px;
          transform-origin: 50% 100%;
          border-radius: 50%;
          transform: scale(.5) rotate(-45deg);
          transition: all .2s ease;

          span {
            position: absolute;
            top: 7px;
            left: 0px;
            width: 100%;
            color: #fff;
            font-size: 12px;
            text-align: center;
            transform: rotate(45deg);
            opacity: 0;
            user-select: none;
          }
        }

        &.is-active {
          top: 0px;
          margin-left: -2px;
          width: 4px;
          height: 4px;

          .slider-label {
            top: -15px;
            left: -2px;
            border-radius: 15px 15px 15px 0;
            transform: rotate(-45deg) translate(23px, -25px);

            span {
              opacity: 1;
            }
          }
        }
      }
    }

    &.slider-lightBlue {
      .slider-label { background-color: $lightBlue; }
    }

    &.slider-teal {
      .slider-label { background-color: $teal; }
    }

    &.slider-orange {
      .slider-label { background-color: $orange; }
    }

    &.slider-amber {
      .slider-label { background-color: $amber; }
    }

    &.slider-green {
      .slider-label { background-color: $green; }
    }

    &.slider-cyan {
      .slider-label { background-color: $cyan; }
    }

    &.slider-indigo {
      .slider-label { background-color: $indigo; }
    }

    &.slider-deepPurple {
      .slider-label { background-color: $deepPurple; }
    }

    &.slider-pink {
      .slider-label { background-color: $pink; }
    }

    &.slider-red {
      .slider-label { background-color: $red; }
    }

    &.slider-yellow {
      .slider-label { background-color: $yellow; }
    }

    &.slider-lime {
      .slider-label { background-color: $lime; }
    }

    &.slider-brown {
      .slider-label { background-color: $brown; }
    }
  }
}

/* ----------------------------------------------------------------------
  Range Slider Color - by Ravikumar Chauhan
------------------------------------------------------------------------- */
.rkmd-slider {
  &.slider-lightBlue {
    .slider-fill,
    .slider-handle {
      background-color: $lightBlue;
    }
  }

  &.slider-teal {
    .slider-fill,
    .slider-handle {
      background-color: $teal;
    }
  }

  &.slider-orange {
    .slider-fill,
    .slider-handle {
      background-color: $orange;
    }
  }

  &.slider-amber {
    .slider-fill,
    .slider-handle {
      background-color: $amber;
    }
  }

  &.slider-green {
    .slider-fill,
    .slider-handle {
      background-color: $green;
    }
  }

  &.slider-cyan {
    .slider-fill,
    .slider-handle {
      background-color: $cyan;
    }
  }

  &.slider-indigo {
    .slider-fill,
    .slider-handle {
      background-color: $indigo;
    }
  }

  &.slider-deepPurple {
    .slider-fill,
    .slider-handle {
      background-color: $deepPurple;
    }
  }

  &.slider-pink {
    .slider-fill,
    .slider-handle {
      background-color: $pink;
    }
  }

  &.slider-red {
    .slider-fill,
    .slider-handle {
      background-color: $red;
    }
  }

  &.slider-yellow {
    .slider-fill,
    .slider-handle {
      background-color: $yellow;
    }
  }

  &.slider-lime {
    .slider-fill,
    .slider-handle {
      background-color: $lime;
    }
  }

  &.slider-brown {
    .slider-fill,
    .slider-handle {
      background-color: $brown;
    }
  }
}