body {
  width: 100%;
  height: 100vh;
  background-color: rgb(40, 44, 52)!important;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /*flex-direction: column;*/
}

.menu-rocka3 {
  height: 56px;

  .rocka3--logo {
    width: 60px;
  }

  ul.rocka3--menu-items {
    li {
      a {
        font-weight: bold;
        border-right: 1px solid rgba(255, 255, 255, 0.26);
        height: 5px;
        display: flex;
        align-items: center;
        padding-right: 1.6rem !important;
      }

      &:nth-child(5) {
        a {
          border-right: 1px solid transparent;
        }
      }
    }
  }

  ul.rocka3--menu--social-media {
    li {
      a {
        font-weight: bold;
        border-right: 1px solid rgba(255, 255, 255, 0.26);
        height: 5px;
        display: flex;
        align-items: center;
        padding-right: 1.6rem !important;
      }

      &:nth-child(2) {
        a {
          border-right: 1px solid transparent;
        }
      }
    }
  }
}

.rocka3--menu-reproductor {
  ul {
    li {
      a {
        font-weight: bold;
      }
    }
  }
}

.bg-rocka3-primary {
  background-color: rgb(32, 35, 42) !important;
}

.bg-rocka3-secundary {
  background-color: rgb(40, 44, 52)!important;
}

.pointer {
  margin-left: -1px;
  width: 13px;
  height: 13px;
  /*background: #506f43;*/
  background: #2196F3;
  z-index: 9999;
  border-radius: 50%;
  margin-top: -5px;
  cursor: pointer;
}


.pointer-focused {
  width: 23px;
  height: 23px;
 /* background: #506f4369;*/
  background: #2196f373;
  z-index: 9999;
  border-radius: 50%;
  margin-top: -10px;
  margin-left: -18px;
}

.btn-controls {
  /*display: flex;
  justify-content: center;
  align-items: center;*/
  text-align: center;
}

i {
  /*color: #607d8b;*/
}

nav.fixed-bottom {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  padding-top: 0;
  margin-left: -15px;
  margin-right: -17px;
  height: 55px;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul > li {
  margin-left: 5px;
  margin-right: 5px;
  font-family: 'Ubuntu', sans-serif;
}

.btn-controls a {
  margin: 10px;
  cursor: pointer;
}

.audio-timer a {
  margin-top: 8px;
}

.progress-rocka3 {
  height: 5px;
  overflow: initial;
  width: 100%;
  background-color: #e9ecef2e
}

.progress-music {
  /*background-color: #506f43!important;*/
  background-color: #2196F3!important;
}

#navbarCollapse {
  margin-top: 10px;
}

.volume-rocka3 {
  height: 3px;
  width: 100px;
  //background-color: #e9ecef2e;
  overflow: inherit;
  cursor: pointer;
  padding-right: 10px;
}

.volume-music {
  width: 80%;
 /* background-color: #506f43!important;*/
  background-color: #2196F3!important;
}

.play-music {
  font-size: 2.4em;
  //border: 3px solid #2196f373;
  //border-radius: 50%;
  padding-top: 1px;
}

